<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div id="footer" class="container-fluid">
        <div>Developed By: <strong>Malik Inkatha</strong> </div>
        <div>Source Code 
              <a href="https://github.com/Inkatha/chicago-towed-car" target="_blank">
                <i class="fa fa-github"></i>
              </a>
        </div>
    </div>
</body>